<tr>
  <td>
    <%= news_list.id %>
  </td>
  <td>
    <%= news_list.created_at.strftime("%Y/%m/%d") %>
  </td>
  <td>
    <%= news_list.content %>
  </td>
  <td>
    <%= news_list.content_ens %>
  </td>
  <td>
		<!-- ユーザ編集画面へのリンク -->
    <%= link_to t('defaults.edit'), edit_admin_news_list_path(news_list), class: 'btn btn-success' %>
		<!-- ユーザ削除リンク -->
    <%= link_to t('defaults.delete'), admin_news_list_path(news_list), method: :delete, data: { confirm: t('admin.news_lists.delete_confirm', id: news_list.id) }, class: 'btn btn-danger' %>
  </td>
</tr>
