<tr>
  <td>
    <%= user.id %>
  </td>
  <td>
    <%= user.name %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.role_i18n %>
  </td>
  <td>
		<!-- ユーザ詳細画面へのリンク -->
    <%= link_to t('defaults.show'), admin_user_path(user), class: 'btn btn-info' %>
		<!-- ユーザ編集画面へのリンク -->
    <%= link_to t('defaults.edit'), edit_admin_user_path(user), class: 'btn btn-success' %>
		<!-- ユーザ削除リンク -->
    <% if current_user.id != user.id %>
      <%= link_to t('defaults.delete'), admin_user_path(user), method: :delete, data: { confirm: t('admin.users.delete_confirm', id: user.id, name: user.name) }, class: 'btn btn-danger' %>
    <% end %>
  </td>
</tr>