<% content_for(:title, t('.title')) %>
<div class="p-5">
  <h1><%= t('.title') %></h1>
  <div class="row">
    <div class="col-md-9 mb-3">
      <!-- 検索窓 -->
      <%= render 'search_form', url: admin_users_path %>
    </div>
    <div class="col-md-3 mb-3">
      <%= link_to t('defaults.new'), new_admin_user_path, class: 'btn btn-secondary' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"><%= User.human_attribute_name(:id) %></th>
          <th scope="col"><%= User.human_attribute_name(:name) %></th>
          <th scope="col"><%= User.human_attribute_name(:email) %></th>
          <th scope="col"><%= User.human_attribute_name(:role) %></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
				<!-- 一覧表示のフォーム -->
        <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- ページネーション -->
      <%= paginate @users %>
    </div>
  </div>
</div>